@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

body{
    background-color: rgb(248, 242, 214);
}

.text{
    font-family: 'Open Sans', sans-serif;
    max-width: 639px;
    margin: 0 auto;
    text-align: center;
}


 .button{
     background-color: rgb(235, 178, 114);
     font-family: 'Montserrat', sans-serif;
     font-size: larger;
     max-width: fit-content;
     height: 50px;
     border-radius: 25%;
     border-color: rgb(201, 127, 42);
     margin-top: 50px;
     margin-left: 100px;
    }

    .footer{
     margin: 0 auto;
     margin-top: 100px;
        font-family: 'Open Sans', sans-serif;
    }